body {
  background-color: #000000;
}

#content_header {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-origin: inherit;
  background-size: cover;
}

#content_header>.jumbotron {
  opacity: 90%;
}

main{
  padding-bottom: 25px;
}

footer{
  height: 25px;
}
